@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --main-color:green;
    --main-light-color:#C6E4D6;
    --btn-1-bg:#006A50;
    --btn-2-bg:orange;
    --btn--3bg:skyblue;
}




*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", serif;
}

main{
    padding:20px;
}

/* Common css */
.btn{
    padding: 9px 14px;
    border-radius: 6px;
    border:none;
    width: fit-content;
    }

.section-title{
    font-weight: 700;
    color:var(--main-color);
    margin-bottom: 14px;
}
/* Header section */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-btn{
    background: none;
    border:1px solid var(--main-color);
    color:var(--main-color)
}


/* Hero section */

.hero-section{
    margin-top: 30px;
    height: 560px;
    background:var(--main-light-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap:10px;
}
.hero-section .content{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.hero-section img{
    width: 40%;
}

.btn-hero{
    background: var(--btn-1-bg);
    width: fit-content;
    color:white;
    font-weight: 600;
    padding:13px 13px;
}

/* Vision section */
#vision{
    margin-top: 30px;
}

.vision-wrapper{
    display: flex;
    align-items: center;
    gap:10px;
    margin-top: 20px;
}

.vision-card{
    width: 33.33%;
    padding:20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.vision-card .icon{
    width: 50px;
}

.vision-card.one{
    background: #257ffde0;
}
.vision-card.one .btn{
    background: #0f2e5968;
}

.vision-card.two{
    background: #257ffde0;
}
.vision-card.two .btn{
    background: #0f2e5968;
}

.vision-card.three{
    background: #257ffde0;
}
.vision-card.three .btn{
    background: #0f2e5968;
}